div {
  background-color: rgb(98, 214, 86);
}

.box1 {
  height: 10px;
  width: 20px;
  padding: 20px;
  border: 1px solid black;
}

.box2 {
  position: relative;
  left: 20px;
  top: 30px;
  height: 20px;
  width: 40px;
  border: 1px solid black;
}

.box3 {
  position: absolute;
  right: 10px;
  height: 10px;
  width: 100px;
  padding: 100px;
  border: 1px solid red;
}

.box4 {
  position: fixed;
  bottom: 1px;
  right: 1px;
  height: 10px;
  width: 20px;
  padding: 20px;
  border: 1px solid black;
}

.box5 {
  position: relative;
  top: 120px;
  padding: 20px;
  border: 1px solid black;
}

.box6 {
  position: absolute;
  top: 400px;
  padding: 20px;
  border: 1px solid blue;
}

.box7 {
  position: relative;
  width: 60px;
  height: 40px;
  border: 2px dashed grey;
}

.box8 {
  position: absolute;
  top: 120px;
  left: 120px;
  width: 30px;
  height: 20px;
  border: 5px solid yellow;
}

.box9 {
  display: inline-block;
  top: 220px;
  left: 120px;
  width: 30px;
  height: 20px;
  border: 5px solid black;
}

.box10 {
  display: inline-block;
  top: 220px;
  right: 0;
  width: 30px;
  height: 20px;
  border: 5px solid green;
}

.box11 {
  display: inline-block;
  top: 220px;
  right: 0;
  width: 30px;
  height: 20px;
  border: 5px solid green;
}

table {
  position: absolute;
  height: 230px;
  width: 300px;
  background-color: green;
  top: 9000px;
}
